---
layout: default
permalink: /
title: Calendario
---
<style>
    .place, .time, .subject {
        display: inline-block;
        padding: .4em .6em;
        min-width: 8em;
        text-align: center;
        background: #dadada;
        color: #333;
    }
    .time {
        background: #6789AB;
        color: #fff;
    }
    .subject {
        background: #6767AB;
        color: #fff;
        margin-right: .6em;
    }
    .event {

    }
</style>

{% for year in site.data.calendar %}
    <h2>{{ year | first }}</h2>

    {% assign y = year | last %}
    {% for month in y %}
        {% assign monnum = month | first | first %}
        <h3>{{ site.data.names[monnum] }}</h3>

        {% assign m = month | first | last %}
        {% for day in m %}
            {% assign d = day | first | last %}
            <p>
                <strong>{{ day | first | first }}</strong>
                {% for event in d %}
                    <p>
                        <span class="time">
                            {% if event.start %}
                                {{ event.start }}
                            {% endif %}
                            {% if event.start and event.end %}
                                 -
                            {% endif %}
                            {% if event.end %}
                                {{ event.end }}
                            {% endif %}
                        </span>
                        {% if event.place %}
                            <span class="place">{{ event.place }}</span>
                        {% endif %}
                        {% if event.subject %}
                            <span class="subject">{{ event.subject }}</span>
                        {% endif %}
                        {% if event.name %}
                            <span class="event">{{ event.name }}</span>
                        {% endif %}
                    </p>
                {% endfor %}
            </p>
        {% endfor %}
    {% endfor %}
{% endfor %}
